<footer>
    <div>

        <section>
            <h2>Landing</h2>
            <p>myEmail@myEmail.com</p>
        </section>

        <section>
            <div>
                <a href="#start">Start</a>
                <a href="#">Our companons</a>
                <a href="#">Make a donation</a>
            </div>

            <div>
                <a href="#">
                    <img src="http://localhost:3000/assets/facebook.svg" alt="">
                </a>

                <a href="#">
                    <img src="http://localhost:3000/assets/instagram.svg" alt="">
                </a>

                <a href="#">
                    <img src="http://localhost:3000/assets/twitter.svg" alt="">
                </a>
            </div>

        </section>

    </div>
</footer>