
  <nav class="flex h-20 px-8 border-b-[1px] border-b-green-700 text-text-color items-center justify-between">

    <a href="./" class="w-1/2 max-w-[200px]"> LOGO
      <img src="" alt="logo" class="block w-full">
    </a>
    <input type="checkbox" id="menu" class="peer/menu hidden">

    <label for="menu" class="w-10 h-10 bg-open-menu bg-cover bg-center bg-accent-color rounded-lg cursor-pointer peer-checked/menu:bg-close-menu transition-all z-40 md:hidden"></label>

    <ul class="fixed inset-0 bg-slate-800 px-[5%] grid gap-6 auto-rows-max content-center justify-items-center clip-circle-0 peer-checked/menu:clip-circle-full transition-[clip-path] duration-500 
    md:clip-circle-full md:relative md:grid-flow-col md:p-0 md:bg-transparent">
      <li><a href="/" class="hover:bg-hover-color p-6">Volunteer</a></li>
      <li><a href="/">Adoption</a></li>
      <li><a href="/">About us</a></li>
      <li><a href="/">Contact</a></li>
      <li><a href="/users">login</a></li>
    </ul>

  </nav>
