<div class="w-[90%] mx-auto overflow-hidden max-w-screen-xl">
  <nav class="flex h-20 text-text-color bg-primary-color items-center justify-between">

    <a href="./" class="w-1/2 max-w-[200px]"> LOGO
      <img src="">
    </a>
    <input type="checkbox" id="menu">
    <label for="menu" class="w-10 h-10 bg-center  bg-accent-color bg-bg-open-menu cursor-pointer"></label>

    <ul>
      <li><a href="/" class="bg-hover-color">Volunteer</a></li>
      <li><a href="/">Adoption</a></li>
      <li><a href="/">About us</a></li>
      <li><a href="/">Contact</a></li>
      <li><a href="/users">login</a></li>
    </ul>

  </nav>
</div>