<section class="md:sticky">
  <div class=" font-bold  flex h-16 border-b-[1px border-b-green-700 items-center justify-between text-xl">
    <div class="md:ml-28">
      <a href="/">
        <img src="../../assets/Logo-fur-ever.png" alt="Fur-Ever Friends logo" class="max-h-[150px] mt-2 object-cover h-full">
      </a>
    </div>

    <input type="checkbox" id="menu" class="peer/menu hidden">

    <label for="menu" class="w-10 h-10 bg-open-menu bg-cover bg-center bg-hover-color rounded-lg cursor-pointer peer-checked/menu:bg-close-menu transition-all z-[90] md:hidden"></label>

    <ul class="z-50 md:mr-28 fixed inset-0 h-full bg-hover-color px-[5%] grid gap-x-6 auto-rows-max content-center justify-items-center clip-circle-0 peer-checked/menu:clip-circle-full transition-[clip-path] duration-500 
    md:clip-circle-full md:relative md:grid-flow-col md:p-0 md:bg-transparent">
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/adopt">Adopt</a></li>
      <li><a href="/volunteer" class="hover:bg-hover-color">Volunteer</a></li>
      <li class="bg-hover-color"><a href="/donate">Donate</a></li>
      <li class="md:ml-20">
        
        <a href="/users" class="flex hover:bg-hover-color">Log in
        <img src="http://localhost:3000/assets/user.svg" alt="" class="px-2"></a>
        </li>
    </ul>

  </div>
</section>