
  <div class="flex h-20  border-b-[1px] border-b-green-700 text-text-color items-center justify-between text-xl">

    <a href="./" class="w-1/2 max-w-[200px]">
      <img src="" alt="Fur-Ever Friends logo" class="block w-full">
    </a>
    <input type="checkbox" id="menu" class="peer/menu hidden">

    <label for="menu" class="w-10 h-10 bg-open-menu bg-cover bg-center bg-accent-color rounded-lg cursor-pointer peer-checked/menu:bg-close-menu transition-all z-40 md:hidden"></label>

    <ul class="fixed inset-0 h-full bg-slate-800 px-[5%] grid gap-x-6 auto-rows-max content-center justify-items-center clip-circle-0 peer-checked/menu:clip-circle-full transition-[clip-path] duration-500 
    md:clip-circle-full md:relative md:grid-flow-col md:p-0 md:bg-transparent">
      <li><a href="/">About Us</a></li>
      <li><a href="/">Rehoming</a></li>
      <li><a href="/" class="hover:bg-hover-color">Volunteer</a></li>
      <li><a href="/">Donate</a></li>
      <li class="md:ml-20">
        
        <a href="/users" class="flex hover:bg-hover-color">Log in
        <img src="../../assets/user.svg" alt="" class="px-2"></a>
        </li>
    </ul>

  </div>
