<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Adoption</a></li>
    <li><a href="/">About us</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/users">login</a></li>
  </ul>
</div>