<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  
  <title>Fur-Ever Friends</title>
  
</head>
<body class=" mx-auto max-w-screen-2xl h-screen scroll-smooth">
  <nav>{{>navBar}}</nav>
  <main>{{{body}}}</main>
  <footer>{{>footer}}</footer>
</body>
</html>