<section>
    <h1>How make an adoption?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, facilis doloribus vitae eum eaque, impedit, doloremque quas autem culpa modi adipisci similique qui? Tempore quas cumque ipsum doloribus voluptatem nulla molestias repellendus tenetur eos iure iste ab, aspernatur, odio consectetur ducimus qui nisi ipsam quibusdam at, enim necessitatibus. Illo iure laudantium debitis a nam commodi mollitia neque, doloremque quis minima?</p>
</section>
<section>
    <p>que tipo de animales, esperanza de vida etc</p>
</section>
