<header class="bg-bg-icons bg-red-300/70 ">
    <section class="grid grid-cols-2 mx-auto gap-x-20">
        <div class="p-12">
            <h1 class="md:text-5xl ml-36 mt-10 mb-14">Find your new </br> best friend </br> today!</h1>
            <h2 class="md:text-3xl ml-36 mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ullam.</h2>
            <button class="ml-36 inline-block bg-hover-color border rounded-lg py-3 px-2 mt-10">Adopt Now</button>
        </div>

        <div class=" col-start-2 mb-10">

            <img src="../../assets/hero.jpg" alt="" class="mt-8 mr-[12] border rounded-full w-[70%] aspect-square object-cover object-[-180px] ">

        </div>

    </section>      
</header>

<section class="bg-hover-color h-60">
    <div>
        <h3></h2>
        <div><img src="" alt=""></div>
    </div>
</section>

<section>
    <div>
        <h2>Our happy families /testimonials</h2>
        <p></p>
    </div>
</section>


<section>
    <div>
        <h2>READY TO MOVE FORWARD?</h2>
        <p>calender or bottom</p>
        <button></button>
    </div>
</section>