<header class="bg-linear">
    <section class="md:grid md:grid-cols-3 md:relative">

        <div class="col-start-2 col-end-4">
            <img src="../../assets/hero.jpg" alt="" class="md:diagonal-clip md:w-full md:object-cover">
        </div>

        <div class="mt-6 p-12 md:absolute max-w-[600px]">
            <h1 class="md:text-6xl text-4xl md:ml-20 md:mt-8 mb-12">Find your new </br> best friend </br> today!</h1>
            <h2 class="md:text-2xl text-2xl md:ml-20 md:mb-16">We rescue, care for, and match loving families with pets in need, guiding you through every step of the adoption process.</h2>
            <button class="md:ml-20 md:text-2xl inline-block shadow-lg bg-cta text-white border-black rounded-lg py-3 px-6 hover:scale-[1.10] transition-all">Start the Journey</button>
        </div>


    </section>      
</header>

<section class="pb-20 relative">

        <h2 class="md:text-4xl text-3xl text-center p-16 ">Lives Changed Through Adoption</h2>

        <div class="grid gap-8 justify-center justify-items-center md:grid-cols-3 w-[80%] mx-auto">

            <article class="bg-primary-color/30  flex flex-col items-center border-4 border-white shadow-md rounded-lg relative h-[600px] gap-8 py-12">
                
                <div class="md:h-[70%] px-12 pt-12 pb-0 rounded-lg">
                    <p class="leading-6 mb-4">I can't thank Fur-Ever Friends enough for helping me find my perfect companion. From the moment I walked in, the staff was so kind and helpful. They made the adoption process seamless and matched me with Bella, the sweetest cat I could ever imagine. She's brought so much joy to my life. Thank you for everything you do!</p>
                    <p class="text-end">— Emily R.</p>
                </div>

                <div class="md:h-[30%]">
                    <img src="../../assets/bella.jpg" alt="" class="aspect-square object-cover rounded-full border-4 shadow-md  border-white w-40 h-40">
                </div>

                <img src="../../assets/quote-left.svg" alt="Quote" class="w-16 h-16 left-4 top-6 absolute">
            </article>

            <article class="bg-primary-color/30  flex flex-col items-center border-4 border-white rounded-lg shadow-md  relative h-[600px] gap-8 py-12">
                
                <div class="md:h-[70%] px-12 pt-12 pb-0 rounded-lg">
                    <p class="leading-6 mb-4">I never thought I could love another pet after losing my last dog, but then I met Charlie at Fur-Ever Friends. He was so shy at first, but the staff assured me he just needed time and patience. Now, he’s the happiest dog, and my family feels complete again. I can’t thank Fur-Ever Friends enough for bringing Charlie into my life—it’s like he was meant to be with us.</p>
                    <p class="text-end">— Henry W.</p>
                </div>

                <div class="md:h-[30%]">
                    <img src="../../assets/charlie.jpg" alt="" class="aspect-square object-cover rounded-full border-4 shadow-md  border-white w-40 h-40">
                </div>

                <img src="../../assets/quote-left.svg" alt="Quote" class="w-16 h-16 left-4 top-6 absolute">
            </article>


            <article class="bg-primary-color/30 flex flex-col items-center border-4 border-white rounded-lg shadow-md relative h-[600px] gap-8 py-12">
                
                <div class="md:h-[70%] px-12 pt-12 pb-0 rounded-lg">
                    <p class="leading-6 mb-4">The moment I saw Ennif, I knew I had to bring her home. The staff at Fur-Ever Friends was so kind and answered all my questions, making sure Ennif had everything she needed to start her new life. Now, she’s the heart of my home and fills my days with so much joy. I’m forever grateful for the work they do.</p>
                    <p class="text-end">— Laura G.</p>
                </div>

                <div class="md:h-[30%]">
                    <img src="../../assets/ennif.jpg" alt="" class="aspect-square object-cover rounded-full border-4 shadow-md  border-white w-40 h-40">
                </div>

                <img src="../../assets/quote-left.svg" alt="Quote" class="w-16 h-16 left-4 top-6 absolute">
            </article>

        <div>
            <img src="../../assets/paw-print.png" alt="" class="w-[36em]  absolute rotate-[110deg] top-[36em] left-[10em]">
        </div>


    </div>
</section>

<section>
    <div>
        <h2>Our happy families /testimonials</h2>
        <p></p>
    </div>
</section>


<section>
    <div>
        <h2>Ready to move forward ?</h2>
        
            
    
        <button></button>
    </div>
</section>

<p>calender or bottom    </p>