<header class="flex">

    <div class="md:w-[30%] mx-8 my-12">
        <h1 class="md:text-5xl my-10">Find Your New Best Friend Today!</h1>
        <h2 class="md:text-3xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ullam.</h2>
        <button class="inline-block bg-accent-color border rounded-lg py-3 px-2 mt-10">Adopt Now</button>
    </div>

    <div class="md:w-[70%]">

        <img src="../../assets/hero.jpg" alt="">
        <a href="/dogs">Dogs</a>

    </div>

</header>

<section class="bg-primary-color h-60">
    <div>
        <h3></h2>
        <div><img src="" alt=""></div>
    </div>
</section>

<section>
    <div>
        <h2>Our happy families /testimonials</h2>
        <p></p>
    </div>
</section>


<section>
    <div>
        <h2>READY TO MOVE FORWARD?</h2>
        <p>calender or bottom</p>
        <button></button>
    </div>
</section>