<section class="flex">
    <div>
        <h1>You belong here</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At alias quidem minus unde molestiae, iure eos placeat explicabo id ipsum itaque deleniti facilis nemo, voluptatum similique architecto! Maiores necessitatibus quidem esse est dolorum maxime eos quisquam nostrum accusamus recusandae. Ipsam, repellendus. Quod facilis incidunt quaerat temporibus. Magni animi ea commodi sapiente? Facere quod quo, iste excepturi ipsa voluptatum debitis consequuntur.</p>
    </div>
    <div>
        <img src="" alt="some volunteers">
    </div>
</section>