<h1>{{dog.name}}</h1>

{{#isOwnedBy dog currentUser}}
<form method="post" action="/dogs/{{../dog.id}}/delete">
  <button type="submit">Delete</button> 
</form>

<a href="/dogs/{{../dog.id}}/update">Edit</a>

{{/isOwnedBy}}