<div>

<h2>{{dog.name}}</h2>

<img src="{{dog.image}}" alt="" class="w-[30%] object-cover">

{{#isAdmin currentUser}}
<form method="post" action="/dogs/{{../dog.id}}/delete">
  <button type="submit">Delete</button> 
</form>

<a href="/dogs/{{../dog.id}}/update">Edit</a>

{{/isAdmin}}


</div>