<form method="post" action="/users">
  <input name="name" placeholder="name">
  <input name="email" type="email" placeholder="email">
  <input name="password" type="password" placeholder="password">
  <button type="submit">Submit</button>
</form>