<h2>{{user.name}}</h2>
<ul>
  <li>{{user.email}}</li>
</ul>

<form action="/users/{{user.id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>

<a href="/users/{{user.id}}/update">edit</a>