<main>

  {{#if errors}} <div class=" text-center mt-10 border-t-2 border-b-2 p-4 bg-white font-extrabold border-red-600">Please review form data</div>{{/if}} 


  <div class="flex">
    <div>

    </div>
    
    <form method="post" action="/users" class="group mx-auto py-16 px-6 flex flex-col gap-4 justify-center" novalidate>

  <article class="space-y-4 mb-8">
    <h2 class="text-3xl text-center font-medium">Login form</h2>
  </article>


      <div class="grid">
        <label for="email" class="font-bold">Email</label>
        <input name="email" id="email" placeholder="enter you email here" required pattern="[/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" type="email" value="{{user.email}}" 
          class="placeholder-transparent peer cursor-pointer block border-b outline-none p-2 hover:border-b-green-600 hover:border-b-2 border-black  focus:font-bold focus:text-black focus:border-2 focus:rounded-lg focus:transition-all{{#if errors.email}}border-red-600 border-2 rounded-lg bg-red-300 {{/if}} invalid:[&:not(:placeholder-shown):not(:focus)]:invalid valid:valid">
        {{#if errors.email}}<div class="text-red-600">{{errors.email}}</div>{{/if}}
      </div>
    
      <div class="grid">
        <label for="password" class="font-bold">Password</label>
        <input name="password" id="password" type="password" placeholder="enter you password here" required pattern=".{8,}" 
        class="placeholder-transparent peer cursor-pointer block border-b outline-none p-2 hover:border-b-black hover:border-b-2 border-black focus:font-bold focus:text-black focus:border-2 focus:rounded-lg focus:transition-all{{#if errors.password}}border-red-600 bg-red-300 rounded-lg border-2{{/if}} invalid:[&:not(:placeholder-shown):not(:focus)]:invalid valid:valid">
        {{#if errors.password}}<div class="text-red-600">{{errors.password}}</div>{{/if}}
      </div>
    
      <button type="submit" class="bg-white text-black text-center p-4 rounded-3xl border border-black flex items-center justify-center gap-2
      hover:bg-black hover:text-white hover:border-black transition-colors group-invalid:pointer-events-none group-invalid:opacity-30">Submit</button>
      <p class="mt-6 text-center">Not registered?<a href="/users/create" class="text-green-600 text-lg inline-block ml-2 underline">Create an account</a></p>
      
    </form>

  </div>
    
</main>