<form method="post" action="/users/{{user.id}}">
  <input name="name" id="name" placeholder="{{user.id}}">
  <input name="email" id="email" type="email" placeholder="{{user.email}}">
  <input name="password" id="password" type="password" placeholder="password">
  <button type="submit">Submit</button>
</form>